@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto-medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}


html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}


body {
  font-size: 160%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.50;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 360px;
  max-width: 1920px;
  margin: 0 auto;
  color: #000000;
  background:  #FAFAFA;
  font-variant-ligatures: none;

}

#app{
  overflow: hidden;
}

aside,
main,
time {
  display: block;
}
input[type='number'] {
  -moz-appearance:textfield;
}

input,
textarea{
  font-family: 'Roboto', sans-serif;
  &:focus{
    outline: none;
  }
  border-radius: 0;
  -webkit-appearance: none;
  overflow: hidden;  
}

button {
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }
}
a {
  &:hover,
  &:focus {
    outline: none;
    -webkit-appearance: none;
  }
}

.btn{
  transition: .3s;
  font-size: 2em;
  line-height: 120%;
  text-align: center;
  padding: .7em 1em;
  background: none;
  border-radius: 5px;
  border: 1px solid #1390E5;
  display: block;
  width: 100%;
  text-decoration: none;
}
.btn_primary{
  color: #FFFFFF;
  background: #1390E5;  
  &:disabled{
    opacity: 0.5;
  }
  &:hover,
  &:focus{
    color: #1390E5;
    background: #FFFFFF;
  }
}
.btn_secondary{
  color: #1390E5;
  background: #FFFFFF;
  border: 1px solid #1390E5;
  &:disabled{
    opacity: 0.5;
  }
  &:hover,
  &:focus{
    color: #FFFFFF;
    background: #1390E5;
  }
}
h2, .h2 {
  font-size: 3.4rem;
  line-height: 120%;
  font-weight: 600;
  margin: 0em 0em 1em;
}

.control-input{
  border: 1px solid rgba(23, 23, 25, 0.2);
  box-sizing: border-box;
  border-radius: .25em;
  font-size: 2em;
  line-height: 120%;
  color: #272727;
  width: 100%;
  padding: .6em .75em;
  transition: .3s;
  font-weight: 400;
  &:not(.control-input_error){
    &:disabled{
      background: #FAFAFA;
      border: 1px solid rgba(23, 23, 25, 0.1);
      color: rgba(39, 39, 39, .6);
    }
    &:hover{
      background: rgba(197, 228, 249, 0.1);
      border: 1px solid #1390E5;
    }
    &:focus{
      background: rgba(197, 228, 249, 0.3);
      border: 1px solid #1390E5;
    }
    &::placeholder{
      color: rgba(23, 23, 25, .3);
    }
  }
  &.control-input_error{
    background: rgba(235, 87, 87, 0.1);
    border: 1px solid #EB5757;
    color: #EB5757;
    &::placeholder{
      color: rgba(235, 87, 87, .6);
    }
  }
}

.control-label{
  font-size: 1.6em;
  line-height: 137%;
  &:not(.control-input_error){
    color: #171719;
  }
  &.control-label_error{    
    color: #EB5757;
  }
}
.control-label__star{
  color: #FF0000;
}

.control_password{
  position: relative;
}
.control-toggle-view-password{
  position: absolute;
  bottom: 1em;
  right: 1.5em;
  border: none;
  background: none;
  display: block;
  padding: 0;
  & svg{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.control-input_password{
  padding: .6em 2.6em .6em .75em;
}


.form-item{
  margin: 0 0 2em;
}
.form-item_btn{
  margin: 3em 0 0;
}
.main{  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form-auth{
  background: #FFFFFF;
  border: 1px solid rgba(39, 39, 39, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 510px;
  width: 100%;
  padding: 4em 8.8em 6em;
  font-size: 1rem;
}
.form-auth__icon{
  display: block;
  width: 8.8em;
  height: 8.8em;
  margin: 0 auto;
}
.form-auth__title{
  font-weight: 500;
  font-size: 1.8em;
  line-height: 155%;
  text-align: center;
  color: #000000;
  margin: 1.77em 0 0;
}
.container{
  max-width: 1070px;
  padding: 0 15px;
  margin: 0 auto;
}
.header{
  background: #fff;
  border-bottom: 1px solid #F1F1F1;
  font-size: 1rem;
}
.header__inner{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0 4em;
}
.header__logo{
  width: 4.8em;
  height: 4.8em;
  align-self: center;
  display: block;
  & svg{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.nav-items{
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 -2em;  
  font-size: 1em;
  height: 100%;
}
.nav-items__item{
  padding: 0;
  margin: 0 2em;
}
.link, link:visited {
  border: none;
  background: none;
  font-size: 1.8em;
  line-height: 155%;  
  color: #1390E5;
  text-decoration: none;
  padding: 1.44em 0;
  transition: .3s;
  position: relative;
  display: block;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #1390E5;
    opacity: 0;
    transition: inherit;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  &:hover:after,
  &:focus:after,
  &.router-link-exact-active:after{
    opacity: 1;
  }
}

.page {
  min-height: 200vh;
  padding: 4em 0;
  font-size: 1rem;
}
.title{
  font-weight: 400;
  font-size: 2.8em;
  line-height: 142%;
  color: #000000;
  margin: 0;
}

.schemes-items{
  padding: 0;
  margin: 4em 0;
  list-style: none;
  font-size: 1em;
}

.schemes-items__item{
  margin: 0;
  padding: 0;
}
.scheme-item{
  background: #FFFFFF;
  padding: 1.3em 2em;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
  grid-gap: 0 3em;
  border-bottom: 1px solid #F1F1F1;
  transition: .3s;
  &:hover,
  &:focus{
    background: #E5E5E5;
  }
  &:hover .scheme-item__link,
  &:focus .scheme-item__link{
    opacity: 1;
    visibility: visible;
  }
}
.scheme-item__name{
  font-weight: 500;
  font-size: 1.6em;
  line-height: 125%;
  color: #000000;
}
.scheme-item__link, .scheme-item__link:visited{
  border: none;
  background: none;
  text-decoration: none;
  font-size: 1.4em;
  line-height: 142%;
  color: #1390E5;
  transition: .3s;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  &:hover,
  &:focus{
    color: #FF0000;
  }
}
.schemes-btn{
  display: inline-block;
}
.loading{
  margin: 1em 0;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 125%;
}
.create-schema{
  font-size: 1rem;
}
.create-schema__header{
  padding: 0 0 3em;
  margin: 0 0 4em;
  border-bottom: 1px solid #C4C4C4;
  display: grid;
  grid-template-columns: minmax(100px, 422px);
}
.title_create-schema-header{
  margin: 0 0 .71em;
  grid-column: 1/3;
}
.title_create-schema-main{
  margin: 0 0 .28em;
  grid-column: 1/3;
}
.create-schema__description{
  font-size: 1.6em;
  line-height: 150%;
  color: #000000;
  opacity: 0.5;
  margin: 0 0 1.25em;
}

.create-schema-items{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1rem;
}
.create-schema-items__item{
  padding: 2em;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0 .9em;
  align-items: baseline;
  border-bottom: 1px solid rgba(23, 23, 25, 0.3);
  &.opened{
    background: #fff;
    padding: 2em 2em 4em;
  }
  &.opened .create-schema-items__btnExpand{
    transform: rotate(0deg);
  }
}
.create-schema-items__btnExpand{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  width: 2em;
  height: 2em;
  font-size: 1em;
  transform: rotate(-90deg);
  & svg{
    display: block;
    width: 10px;
    height: 5px;
  }
}
.create-schema-items__properties-name{
  font-weight: 500;
  font-size: 1.8em;
  line-height: 122%;
  color: #272727;
}
.create-schema-items__short-desc{
  font-size: 1.4em;
  line-height: 157%;
  color: #272727;
  opacity: 0.6;
}
.create-schema-items__btnDelete{
  display: block;
  border: none;
  background: none;
  padding: 0;
  width: 3.6em;
  height: 3.6em;
  font-size: 1em;
  margin: -0.7em 0 0;
  & svg{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.create-schema-items__properties {
  display: grid;
  grid-template-columns: repeat(2, minmax(20em, 38.6em));
  grid-gap: 0 10.7em;
}
.control_create-schema{
  margin: 1.1em 0 2em;
  &:last-child{
    margin:  1.1em 0 0;
  }
}

.control-select__wrap{  
  position: relative;
  font-size: 2em;
  line-height: 120%;
  color: #272727;  
  &:hover,
  &:focus{
    z-index: 10;
  }
  &:hover .control-select__drop-down,
  &:focus .control-select__drop-down{
    display: block;
    border-left: 1px solid #1390E5;
    border-right: 1px solid #1390E5;
    border-bottom: 1px solid #1390E5;
    border-radius: 0 0 0.25em 0.25em;
  }
  &:hover .control-select__output,
  &:focus .control-select__output{
    border-left: 1px solid #1390E5;
    border-right: 1px solid #1390E5;
    border-top: 1px solid #1390E5;
    border-bottom: 1px solid rgba(23, 23, 25, 0.2);
    border-radius: 0.25em 0.25em 0 0;
  }
}
.control-select__option-input{
  position: absolute;
}
.control-select__output{
  cursor: default;
  display: block;
  width: 100%;
  border: 1px solid rgba(23, 23, 25, 0.2);
  box-sizing: border-box;
  padding: 0.6em 0.75em;
  font-size: inherit;
  line-height: inherit;
  color: inherit;  
  border-radius: 0.25em;
  width: 100%;
  padding: 0.6em 0.75em;
  font-weight: 400;
}
.control-select__drop-down{
  background: #fff;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.control-select__option{
  font-size: inherit;
  line-height: inherit;
  color: inherit;  
  padding: 0.6em 0.75em;
  display: block;
  transition: .3s;
  &:hover,
  &:focus{
    background: rgba(197, 228, 249, 0.3);
  }
}
