:root {
  --font: 'Roboto', sans-serif;
  --color_1: #272727;
  --color_1_opacity_6: rgba(39, 39, 39, .6);
  --color_1_opacity_3: rgba(23, 23, 25, .3);
  --color_2: #1390E5;
  --color_3: #171719;
  --color_4: #EB5757;
  --color_4_opacity_6: rgba(235, 87, 87, .6);
  --color_5: #FF0000;
  ;
}


